a{
  text-decoration: none;
}
.bold{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.light{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
p-0{
  padding: 0;
}
pl-0{
  padding-left: 0; 
}
pr-0{
  padding-right: 0; 
}
.fr{
  float: right;
}
.fl{
  float: left;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}