/**** Radio Button *****/
.radio-container{
  @extend .fl;
  margin-right: 35px;
}
.custom-radio{
  opacity: 0;
}
.custom-radio ~ label{
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-left: -10px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.custom-radio:checked ~ label:after {
  content: '';
  background-color: #131415;
  height: 10px;
  width: 10px;
  top: 4px;
  position: absolute;
  left: 4px;
  border-radius: 50%;
}


/****** Text Box *******/
.form-element-container,
.select-box-container{
  @extend .fl;
}
.select-box-container{
  width: 100%;
}
.custom-textbox,
.custom-select-box{
  padding: 10px;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #333333;
  outline: none;
  width: 100%;
  position: relative;
  background-color: rgba(29, 33, 43, 0.02);
  border-radius: 4px;
  border: solid 1px rgba(41, 41, 41, 0.05);
}
.custom-textbox:after{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #27ad8a;
}

.custom-textbox:after:focus {
  width: 100%;
  transition: 0.5s;
}
.custom-textbox::placeholder{
  color: #637281;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}
.custom-select-box{
  color: #8a92a2;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.custom-select-box~label{
  position: absolute;
  top: 42px;
  right: 25px;
  height: 20px;
  width: 20px;
  background: url('./assets/icons/select-down.svg');
}
.txt-with-icon{
  right: 3px;
  position: absolute;
  bottom: 1px;
}
.disabled{
  cursor: no-drop;
  opacity: .5;
}

/******* Validation Classes ***********/
// input.ng-touched.ng-valid{
//   border: 1px solid #28a745;
// }
// input.ng-touched.ng-invalid{
//   border: 1px solid #dc3545;
// }
.form-error {
  margin-top: 5px;
  font-size: 13px;
  color: #dc3545;
}
.form-element-error{
  border: 1px solid #dc3545;
}
.label{
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
  color: #40495a;
}
.file-upload {
	position: relative;
	display: inline-block;
}
.fileupload{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width:0;
  height: 100%;
  opacity: 0;
}
.file-upload-label{
  @extend .f12;
  @extend .pointer;
  border-radius: 4px;
  border: solid 1px #e0e7ff;
  padding: 10px 20px 10px 40px;
  background: url('~src/assets/icons/paperclip.svg');
  background-repeat: no-repeat;
  background-position: 12px 12px;
}
.fileUploaded{
  border-radius: 4px;
  border: solid 1px #e0e7ff;
  padding: 10px 20px;
}

.select-box-container.without-label .custom-select-box ~ label{
  top: 12px; 
}