@mixin vendor-prefix($name, $argument) {
  #{$name}: #{$argument};
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
}
.full-screen-view {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .wrapper {
    min-height: calc(100vh - 78px);
  }
  .col-info {
    height: 100vh;
    overflow: hidden;
    background-color: #1d212b;
    color: #fff;

    .content {
      width: 70%;
      bottom: 10vh;
      position: absolute;
      height: auto;
      left: 15%;

      .step {
        opacity: 0.1;
        font-size: 70px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0.4px;
        color: #e4f2f3;
      }
      .step-name {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .step-description {
        line-height: 1.64;
        letter-spacing: 0.2px;
        opacity: 0.5;
        margin-bottom: 10vh;
        font-size: 14px;
      }
    }
  }
  .col-form {
    height: 100vh;
    overflow-y: auto;
  }
  .page-title {
    padding: 30px 25px;
  }

  .main-container {
    margin-top: 4vh;
    padding: 0 5vw;
  }
  .item-cards {
    .card:last-child {
      margin-bottom: 25px;
    }
    .item-card .card {
      margin-bottom: 20px;
      padding-top: calc(2vw + 20px);
    }
    // .item-card:first-child {
    //   padding-top: 2vw;
    // }
    .item-card:first-child .close-item {
      display: none;
    }
  }
  .close-item {
    position: absolute;
    top: 1vw;
    right: 1vw;
  }

  .card {
    border-radius: 4px;
    @include vendor-prefix(box-shadow, 0 10px 34px 0 rgba(0, 0, 0, 0.05));
    border: solid 1px #e4e7ef;
    background-color: #ffffff;
    padding: 2vw;
    position: relative;
    margin-bottom: 50px;
  }
  .card:hover {
    @include vendor-prefix(box-shadow, 0 10px 34px 10px rgba(0, 0, 0, 0.05));
    @include vendor-prefix(transition, all 0.1s ease-in-out);
  }
  .add-more-details-link {
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    color: #343740;
    text-decoration: none;
    svg {
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

.action-buttons {
  border-radius: 4px;
  border: solid 1px #d0d5df;
  text-decoration: none;
  padding: 10px 25px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #5a6377;
  font-weight: bold;
}
.content {
  height: 530px;
}
.content-box:hover {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 12px 33px 0 rgba(0, 0, 0, 0.08);
}
.header-border-left {
  border-left: solid 1px #ccdde6;
}
.search-select svg {
  display: none;
}
.back-layer {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  cursor: default;
  z-index: 10;
}

/*********** Old Screens CSS ***************/
.header {
  color: #fff;
  background-color: #171d2b;
  padding: 22px 45px;
  font-size: 18px;
  font-style: italic;

  svg {
    vertical-align: middle;
  }
}
.hero-container {
  background-color: #1f2532;
  padding: 65px 0 185px 0;

  .hero-text {
    color: #fff;
    font-size: 38px;
    letter-spacing: -2.4px;
    margin-bottom: 10px;
  }
  .sub-text {
    color: #8a92a2;
    font-size: 14px;
    a {
      color: #696ab3;
    }
  }
}
.card-header-text {
  margin-bottom: 20px;
  color: #1d212b;
  font-size: 21px;
}
.footer {
  background-color: #fff;
  padding: 17px 60px;
}
.loader-container {
  min-height: 500px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: rgba(255, 255, 255, 0.5);
}
.loader-container.top {
  top: 0;
}
.loader-container.fixed {
  position: fixed;
}
.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25%;
  right: 10%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.btn.disabled {
  pointer-events: none;

  span {
    pointer-events: none;
  }
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.review-attatchment {
  border-radius: 8px;
  border: solid 1px rgba(41, 41, 41, 0.05);
  background-color: rgba(29, 33, 43, 0.02);
  padding: 15px 100px 15px 20px;
  margin: 0 20px 20px 0;
  display: inline-block;
}
.review-attatchment svg {
  height: 20px;
  margin-right: 10px;
  vertical-align: bottom;
}
.popup-back-layer {
  background-color: rgba(29, 33, 43, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
.popup {
  background-color: #fff;
  position: fixed;
  z-index: 20;
  min-height: 25vh;
  max-height: 60vh;
  min-width: 50vh;
  max-width: 80vw;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  @include vendor-prefix(transform, translate(-50%, -50%));
  @include vendor-prefix(border-radius, 5px);
}
input.currency-toggle {
  visibility: hidden;
}
input.currency-toggle + label {
  border-radius: 4rem;
  visibility: visible;
  cursor: pointer;

  span {
    margin-right: 14px;
    font-weight: bold;
    font-size: 15px;
    margin-left: -2px;
  }
}
input.currency-toggle + label:before {
  right: 1rem;
  left: 0.5rem;
  top: 0.8rem;
  bottom: 1.8rem;
  border-radius: 5rem;
  transition: background 0.3s;
  background-color: rgba(0, 0, 0, 0.2);
}
input.currency-toggle + label:before,
input.currency-toggle + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
  border-radius: 9.5px;
  height: 22px;
  width: 52px;
  background-color: rgba(29, 33, 43, 0.02);
  border: solid 1px rgba(41, 41, 41, 0.05);
}
input.currency-toggle:checked + label:after {
  content: "$";
  margin-left: 25px;
  background-color: #1f2532;
  font-size: 16px;
  color: #fff;
  padding-left: 7.5px;
}

input.currency-toggle+ label:after {
  content: "%";
  background-color: #1f2532;
  font-size: 16px;
  color: #fff;
  padding-left: 5px;
}
input.currency-toggle + label:after {
  width: 26px;
  height: 26px;
  top: -1.5px;
  left: 3px;
  background-color: #1f2532;
  border-radius: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.915, 0.01, 0.075, 0.995);
  -moz-transition: all 0.3s cubic-bezier(0.915, 0.01, 0.075, 0.995);
  -o-transition: all 0.3s cubic-bezier(0.915, 0.01, 0.075, 0.995);
  transition: all 0.3s cubic-bezier(0.915, 0.01, 0.075, 0.995);
}
