@import "~src/assets/stylesheets/variables";
.header-container {
  background-color: #1d212b;

  .second-section {
    padding: 4.5vh 7vw;

    .product-selection {
      color: #fff;
      font-size: 32px;
      letter-spacing: 0.4px;
      font-weight: 300;
    }
    .product-description {
      opacity: 0.5;
      color: #fff;
      margin-top: 4px;
      font-size: 14px;
    }
    .item {
      margin-right: 20px;
    }
    .item:first-child {
      margin-right: 0;
    }
    .search-container {
      max-width: 256px;
    }
    .search {
      background-color: #171d2b;
      border: 0;
      padding: 15px 20px 15px 45px;
      border-radius: 20px;
      width: 100%;
      color: #fff;
      outline: none;
    }
    .search-svg {
      position: absolute;
      left: 15px;
      top: 12px;
    }
    .search-shrink {
      width: 40px;
      padding-right: 0;
      cursor: pointer;

      .search {
        padding-right: 0;
      }
    }
    .filter {
      background-color: #333640;
      border-radius: 50%;
      padding: 12px 15px 11px 15px;
    }
    a.new-invoice {
      color: #fff;
      font-size: 14px;
      background-color: #545bff;
      padding: 7px 21px;
      border-radius: 4px;
      display: block;
      margin-top: 5px;
    }
    .filter-item {
      background-color: #333640;
      padding: 10px 17px;
      color: #fff;
      font-size: 14px;
      border-radius: 25px;
      margin-top: 3px;
      position: relative;
      cursor: pointer;
      float: left;
      margin-right: 15px;
    }
    .filter-item:last-child {
      margin-right: 0;
    }

    .filterAnim {
      transition: visibility 0s, opacity 0.5s linear;
    }
  }
}
.options,
.more-options {
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  padding: 10px 20px;
  color: #333;
  min-width: 130px;
  box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 100;
}
.option {
  padding: 10px 0;
  border-bottom: 1px solid #eaf2f6;
  cursor: pointer;
}
.option:hover {
  opacity: 0.8;
}
.option:last-child {
  border-bottom: 0;
}
.more-options {
  display: none;
  right: 17px;
  left: auto;
  top: 0px;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.3);
  color: #333;
}
.table-container {
  padding: 0 7vw;
  position: relative;
}
.table-container:before {
  content: "";
  position: absolute;
  background-color: #191c26;
  left: 0;
  top: 0;
  height: 41px;
  width: 100%;
  z-index: -1;
}
table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  font-size: 14px;

  th {
    background-color: #191c26;
    padding: 10px 0;
    color: #fff;
    font-weight: 300;

    svg {
      display: inline-block;
      vertical-align: bottom;
      margin-left: 5px;
    }
  }
  th,
  td {
    text-align: left;
  }
  td[align="right"],
  th[align="right"] {
    text-align: right;
  }
  tr:nth-child(even) {
    background-color: #fcfcfc;
  }
  td {
    padding: 19px 0;
    border-bottom: 1px solid #eaf2f6;
  }

  .base-field {
    font-size: 17px;
    color: #333333;
  }
  .client-name {
    color: #666666;
  }
  .action-item {
    color: #1875f0;
    font-weight: 600;
    margin-right: 15px;
  }
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.draft {
  background-color: #ffca73;
}
.sent {
  background-color: #459e20;
}
.in-review {
  background-color: #44bdca;
}
.proposed {
  background-color: #696ab3;
}

.back-layer {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  cursor: default;
  z-index: 10;
}
.no-table-data {
  text-align: center;
  padding: 12vh 0 0 0;

  .svg {
    position: absolute;
    left: 18vw;
    top: 10vh;
  }
  .wrapper {
    position: absolute;
    background: url("~src/assets/icons/listing-no-data.svg");
    height: 373px;
    width: 600px;
    background-repeat: no-repeat;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    .text-container {
      float: right;
      text-align: left;
    }

    .heading {
      font-size: 32px;
      font-weight: 600;
      color: #1f2532;
      letter-spacing: -2px;
    }
    .sub-text {
      font-size: 14px;
      font-style: italic;
      color: #8a92a2;
      margin: 5px 0 20px 0;
    }
    .no-data-create {
      background-color: $bg-primary-color;
      color: #fff;
      border-radius: 4px;
      padding: 10px 17px;
      font-weight: 700;
    }
  }
}
.loader-container {
  min-height: 500px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  z-index: 101;
  background-color: rgba(255, 255, 255, 0.5);
}
.pagination {
  margin: 15px;
  float: right;

  .page {
    padding: 5px 10px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    margin: 0 2px;
  }
  .page.active {
    background-color: #696ab3;
    color: #fff;
  }
  .page.prev.disabled,
  .page.next.disabled {
    cursor: not-allowed;
  }
  .page.prev.disabled *,
  .page.next.disabled * {
    pointer-events: none;
  }
}
